:root {
    font-family: Inter, sans-serif;
}

html {
    width: 310px;
    height: 400px;
    background-color: #f1f1f1;
    overflow: hidden;
}

body {
    position: absolute;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 310px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#settings {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
}

#header {
    background-color: #f1f1f1;
    padding: 8px 16px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

#header>h1 {
    font-size: 24px;
}

#save {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #2e9a40;
    cursor: pointer;
    color: white;
}

#save:hover {
    background-color: #29903b;
}

input.key-input {
    width: 150px;
    padding: 4px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonSetting {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buttonSetting button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buttonSetting button:hover {
    background-color: #2e9a40;
    color: white;
}

.buttonSetting button.active {
    background-color: #29903b;
    color: white;
}

#status-message {
    color: red;
    font-size: 12px;
    display: none;
}

.signup-github {
    background-color: #111827;
    color: #f3f4f6;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.06);
    transition: color 0.2s ease;
}

.logout-github {
    background-color: #f3f4f6;
    color: #EE4B2B;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.06);
    transition: color 0.2s ease;
}

.signup-github:hover {
    color: #ffffff;
}

.signup-icon {
    fill: currentColor;
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.signup-divider {
    border-left: 1px solid #1f2937;
    height: 24px;
    width: 4px;
    display: block;
    margin-right: 4px;
}

.signup-text {
    padding-left: 12px;
}

.logout-text {
    padding-left: 0px;
}

.hidden {
    display: none;
}

#rateLimit {
    position: absolute;
    right: 16px;
    top: 15px;
    font-size: 12px;
}