:root {
    font-family: Inter, sans-serif;
}

html {
    width: 300px;
    height: 350px;
    background-color: #f1f1f1;
}

body {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#settings {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 14px;
}

#header {
    background-color: #f1f1f1;
    padding: 8px 16px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header>h1 {
    font-size: 24px;
}

#save {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #2e9a40;
    cursor: pointer;
    color: white;
}

#save:hover {
    background-color: #29903b;
}

input.key-input {
    width: 150px;
    padding: 4px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonSetting {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buttonSetting button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buttonSetting button:hover {
    background-color: #2e9a40;
    color: white;
}

.buttonSetting button.active {
    background-color: #29903b;
    color: white;
}

#status-message {
    color: red;
    font-size: 12px;
    height: 16px;
}